<!-- /* 메인 헤더 */ -->
<div th:fragment="topNavi" class="header border-bottom border-dark" style="background-color: #353535;">
    <div class="d-flex align-items-center px-4 new-py-25 new-text-white" style="height: 3.5em;">
        <a href="/serviceTeam/mainPage">
            <div class="title fs-5 lh-1 new-text-white">
                고객센터 팀
            </div>
        </a>
        <div class="util ms-auto me-3">
            <div th:if="${session.loginServiceTeam == null}">
                <a href="/serviceTeam" class="px-2 new-text-white">로그인</a>
            </div>
            <div class="align-items-center" th:if="${session.loginServiceTeam != null}">
<!--                <img class="img-fluid pe-2" th:src="|/images/${session.loginServiceTeam.profile}|" style="height: 2em;">-->
                <span th:text="${serviceTeamDto.name}"></span>
                <span class="new-fs-85">님</span>
            </div>
        </div>
    </div>
</div>

<!-- /* 좌측 카테고리 : 카테고리 추가시 해당 링크 변경 필요 */ -->
<div th:fragment="leftMenuNavi" class="left-menu">
    <div class="container">
        <div class="logo py-2 fw-semibold lh-sm">
            <a href="/serviceTeam" class="d-block">6th <br> SERVICE TEAM</a>
        </div>

        <div th:if="${session.loginServiceTeam != null}">
            <div class="row pt-4 px-5">
                <div class="col" style="line-height: 7em;">
                    <img class="img-fluid image-thumbnail rounded-circle px-2" th:src="|/images/${serviceTeamDto.profile}|">
                </div>
            </div>

            <div class="row pt-3 align-items-center text-center d-flex justify-content-center new-text-white">
                <div class="col-auto">
                    <span class="fw-semibold" th:text="${serviceTeamDto.name}">권은진</span>
                    <span class="new-fs-85">님</span>
                </div>
                <div class="col-auto px-0">
                    <a href="/serviceTeam/loginOutProcess" class="new-text-white">
                        <span class="material-symbols-outlined fs-5 d-flex justify-content-center">logout</span>
                    </a>
                </div>
            </div>

            <div class="row pt-2">
                <div class="col text-end new-text-white new-fs-85">
                    <span>Team</span>
                    <span th:text="${serviceTeamDto.position}"></span>
                </div>
            </div>
        </div>

        <div class="menu-list">
            <ul class="py-3">
                <li>
                    <a href="/serviceTeam/noticePage" class="d-flex align-items-center px-2 new-py-25 fw-medium">
                        <span class="material-symbols-outlined me-3 fw-light new-text-light-gray">breaking_news</span>공지사항
                    </a>
                </li>
                <li>
                    <a href="/serviceTeam/memberCalendarPage" class="d-flex align-items-center px-2 new-py-25 fw-medium">
                        <span class="material-symbols-outlined me-3 fw-light new-text-light-gray">calendar_month</span>일정 관리
                    </a>
                </li>
                <li>
                    <a href="/serviceTeam/memberManagementPage" class="d-flex align-items-center px-2 new-py-25 fw-medium" th:if="${session.loginServiceTeam != null and session.loginServiceTeam.position == 'Leader'}">
                        <span class="material-symbols-outlined me-3 fw-light new-text-light-gray">groups</span>팀원 관리
                    </a>
                </li>
                <li>
                    <a href="/serviceTeam/qnaCheckPage" class="d-flex align-items-center px-2 new-py-25 fw-medium">
                        <span class="material-symbols-outlined me-3 fw-light new-text-light-gray">live_help</span>Q & A
                    </a>
                </li>
                <li>
                    <a href="/serviceTeam/liveChatPage" class="d-flex align-items-center px-2 new-py-25 fw-medium">
                        <span class="material-symbols-outlined me-3 fw-light new-text-light-gray">headset_mic</span>1 : 1 상담
                    </a>
                </li>
                <li>
                    <a href="/serviceTeam/informationPage" class="d-flex align-items-center px-2 new-py-25 fw-medium">
                        <span class="material-symbols-outlined me-3 fw-light new-text-light-gray">manage_accounts</span>개인정보 수정
                    </a>
                </li>
            </ul>


        </div>

    </div>
</div>

<!-- /* 공통 푸터 */ -->
<div th:fragment="bottomNavi" class="footer">
    <div class="container">

    </div>
</div>