<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/img/favicon.ico">
    <title>6th BAND - Admin</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/funding/admin.css">
</head>
<body>
    <div class="admin-wrapper">
        <div class="admin-container">
            <div class="d-flex">
                <!--/* 좌측 메뉴 : 메뉴 추가될 경우 해당 navi 에 추가 필요 */-->
                <div class="page-left position-fixed top-0 bottom-0 border-end border-dark">
                    <div th:replace="~{common/adminNavi::leftMenuNavi}"></div>
                </div>

                <!--/* 우측 컨텐츠 */-->
                <div class="page-right flex-grow-1">
                    <!--/* 헤더 */-->
                    <div th:replace="~{common/adminNavi::topNavi}"></div>

                    <!--/* 컨텐츠 */-->
                    <div class="main py-4 px-4">
                        
                        <!--/* 프로젝트 */-->
                        <div class="sub-nav mb-3">
                            <div class="fw-medium fs-5">정산 세부 내용</div>
                        </div>
                        <div class="sub-content">
                            <div class="project-box mt-4">
                                <div class="title py-1">
                                    <span class="fw-medium">프로젝트 정보</span>
                                </div>
                                <div class="content new-fs-9 mt-1 border-top border-dark">
                                    <div class="table-head d-flex border-bottom new-bg-gray new-fs-9">
                                        <div class="col-1 py-1 px-2 fw-medium text-center">프로젝트 번호</div>
                                        <div class="col-2 py-1 px-2 border-start fw-medium text-center">카테고리</div>
                                        <div class="col-2 py-1 px-2 border-start fw-medium text-center">썸네일</div>
                                        <div class="col-5 py-1 px-2 border-start fw-medium text-center">프로젝트 명</div>
                                        <div class="col-2 py-1 px-2 border-start fw-medium text-center">창작자</div>
                                    </div>
                                    <div class="d-flex border-bottom">
                                        <div th:text="${projectData.id}" class="col-1 py-1 px-2 text-center">프로젝트 번호</div>
                                        <div th:text="${projectData.category_name}" class="col-2 py-1 px-2 border-start text-center">카테고리</div>
                                        <div class="col-2 py-1 px-2 border-start text-center">
                                            <div class="thumbnail-box mx-auto" style="max-width: 70px;">
                                                <div class="img-p-box new-pb-100">
                                                    <img th:src="|/images/${projectData.thumbnail_location}|" alt="썸네일 이미지" class="img image-thumbnail">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 py-1 px-2 border-start text-center">
                                            <a th:href="@{/admin/funding/projectDetail(id=${projectData.id})}" th:text="${projectData.project_title}" class="text-decoration-underline"></a>
                                        </div>
                                        <div th:text="${projectData.creator_name}" class="col-2 py-1 px-2 border-start text-center">창작자</div>
                                    </div>
                                </div>
                            </div>

                            <div class="creator-box mt-4">
                                <div class="title py-1">
                                    <span class="fw-medium">창작자 정보</span>
                                </div>
                                <div class="content new-fs-9 mt-1 border-top border-dark">
                                    <div class="d-flex border-bottom">
                                        <div class="col-2 py-1 px-2 border-end new-bg-gray fw-medium">창작자 ID</div>
                                        <div th:text="${projectData.user_account}" class="col-10 py-1 px-2"></div>
                                    </div>
                                    <div class="d-flex border-bottom">
                                        <div class="col-2 py-1 px-2 border-end new-bg-gray fw-medium">거래은행</div>
                                        <div th:text="${creatorDto.bank_name}" class="col-10 py-1 px-2"></div>
                                    </div>
                                    <div class="d-flex border-bottom">
                                        <div class="col-2 py-1 px-2 border-end new-bg-gray fw-medium">계좌번호</div>
                                        <div th:text="${creatorDto.account_number}" class="col-10 py-1 px-2"></div>
                                    </div>
                                    <div class="d-flex border-bottom">
                                        <div class="col-2 py-1 px-2 border-end new-bg-gray fw-medium">예금주명</div>
                                        <div th:text="${creatorDto.account_holder}" class="col-10 py-1 px-2"></div>
                                    </div>
                                    <div class="d-flex border-bottom">
                                        <div class="col-2 py-1 px-2 border-end new-bg-gray fw-medium">예금주 생년월일</div>
                                        <div th:text="${creatorDto.account_birth}" class="col-10 py-1 px-2"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="settlement-box mt-4">
                                <div class="title py-1">
                                    <span class="fw-medium">정산 내역</span>
                                </div>
                                <div class="content new-fs-9 mt-1 px-3 new-py-25 border border-light-subtle">
                                    <div class="content-row">
                                        <div class="mb-1 fw-medium new-fs-95">정산 내역 정보</div>
                                        <p class="mb-2 new-fs-85 text-body-tertiary">결제대행 수수료는 총 결제 성공 금액의 5% 와 VAT 3% 의 합계(8%)입니다.</p>
                                        <div class="table-head d-flex new-border-top-gray border-bottom new-bg-gray new-fs-9">
                                            <div class="col-2 py-1 px-2 fw-medium text-center">실 정산 금액(a+b)</div>
                                            <div class="col-2 py-1 px-2 border-start fw-medium text-center">결제 금액(a)</div>
                                            <div class="col-2 py-1 px-2 border-start fw-medium text-center">수수료(b)</div>
                                            <div class="col-2 py-1 px-2 border-start fw-medium text-center">정산 예정일</div>
                                            <div class="col-2 py-1 px-2 border-start fw-medium text-center">정산 완료일</div>
                                            <div class="col-2 py-1 px-2 border-start fw-medium text-center">정산 상태</div>
                                        </div>
                                        <div class="d-flex border-bottom">
                                            <div th:text="|${#numbers.formatInteger(settlementDto.settlementDetails.settlement_amount, 0, 'COMMA')}원|" class="col-2 py-1 px-2 fw-medium text-end">실 정산 금액</div>
                                            <div th:text="|${#numbers.formatInteger(settlementDto.projectTotalAmount, 0, 'COMMA')}원|" class="col-2 py-1 px-2 border-start fw-medium text-end">결제 금액(a)</div>
                                            <div th:text="|-${#numbers.formatInteger(settlementDto.settlementDetails.settlement_fee, 0, 'COMMA')}원|" class="col-2 py-1 px-2 border-start fw-medium text-end">수수료(b)</div>
                                            <div th:text="${settlementDto.expectedDate}" class="col-2 py-1 px-2 border-start text-center">예정일</div>
                                            <div th:text="${settlementDto.settlementDetails.settlement_date != null ? #dates.format(settlementDto.settlementDetails.settlement_date, 'yyyy-MM-dd HH:mm') : '-'}" class="col-2 settlement-date py-1 px-2 border-start text-center">완료일</div>
                                            <div th:text="${settlementDto.settlementDetails.settlement_status}" th:classappend="${settlementDto.settlementDetails.settlement_status == '정산완료' ? 'text-success' : 'text-danger'}" class="col-2 settlement-status py-1 px-2 border-start fw-medium text-center">상태</div>
                                        </div>
                                    </div>
                                    <div class="content-row">
                                        <div class="mb-1 new-mt-25 fw-medium new-fs-95">명세서 확인 및 진행</div>
                                        <p class="mb-2 new-fs-85 text-body-tertiary">정산 내역과 모금액 명세서의 금액을 확인 후 정산 진행해주세요.</p>
                                        <div class="content new-fs-9 mt-1 border-top border-dark">
                                            <form action="" id="settlementStatusForm">
                                                <div class="d-flex border-bottom">
                                                    <div class="col-2 py-1 px-2 border-end new-bg-gray fw-medium">모금액 명세서</div>
                                                    <div class="col-3 py-2 px-2">
                                                        <button type="button" data-bs-toggle="modal" data-bs-target="#pledgeModal" class="py-1 px-2 border border-dark bg-white fw-medium new-fs-9">명세서 확인하기</button>
                                                    </div>
                                                </div>
                                                <div class="d-flex border-bottom">
                                                    <div class="col-2 py-1 px-2 border-end new-bg-gray fw-medium">정산 상태</div>
                                                    <div class="col-2 py-2 px-2">
                                                        <select name="settlement_status" id="settlement-status" class="form-select py-1 rounded-0 new-fs-85">
                                                            <option th:selected="${settlementDto.settlementDetails.settlement_status == '미정산'}" value="미정산">미정산</option>
                                                            <option th:selected="${settlementDto.settlementDetails.settlement_status == '정산완료'}" value="정산완료">정산완료</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="d-flex border-bottom">
                                                    <div class="col-12 py-1 px-2">
                                                        <div class="btn-box py-1 text-center">
                                                            <button type="button" onclick="settlementStatusProcess()" class="py-1 px-5 border border-dark new-bg-dark text-white fw-medium new-fs-9">정산 진행</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="pledge-box mt-4">
                                <div class="title py-1 d-flex align-items-end">
                                    <div class="fw-medium">프로젝트 후원 내역<span th:text="|(총 ${backersCount}명)|"></span></div>
                                    <a href="/admin/funding/backersList" target="_blank" class="new-fs-8 d-flex align-items-center ms-3 lh-1">상세 내역 목록 보기<span class="material-symbols-outlined fs-5 new-fw-thin">keyboard_arrow_right</span></a>
                                </div>
                                <p class="mb-2 new-fs-85 text-body-tertiary">해당 프로젝트의 후원 목록이 간단하게 출력됩니다. 후원에 대한 상세 내역은 후원자 후원 관리에서 확인해주세요.</p>
                                <div class="content overflow-y-auto new-fs-9 mt-1 px-3 new-py-25 border border-light-subtle" style="max-height: 450px;">
                                    <div class="content-row">
                                        <div class="table-head d-flex new-border-top-gray border-bottom new-bg-gray new-fs-9">
                                            <div class="col-1 py-1 px-2 fw-medium text-center">후원번호</div>
                                            <div class="col-1 py-1 px-2 border-start fw-medium text-center">후원자</div>
                                            <div class="col-2 py-1 px-2 border-start fw-medium text-center">결제수단</div>
                                            <div class="col-2 py-1 px-2 border-start fw-medium text-center">후원 일시</div>
                                            <div class="col-2 py-1 px-2 border-start fw-medium text-center">총 후원금액(a)</div>
                                            <div class="col-2 py-1 px-2 border-start fw-medium text-center">수수료(b)</div>
                                            <div class="col-2 py-1 px-2 border-start fw-medium text-center">정산 예정 금액(a+b)</div>
                                        </div>
                                        <div th:unless="${#lists.isEmpty(settlementBackersList)}" th:each="settlementBackers : ${settlementBackersList}" class="d-flex border-bottom">
                                            <div th:text="${settlementBackers.support_id}" class="col-1 py-1 px-2 text-center">후원번호</div>
                                            <div th:text="${settlementBackers.account_name}" class="col-1 py-1 px-2 border-start text-center">후원자</div>
                                            <div th:text="${settlementBackers.payment_type}" class="col-2 py-1 px-2 border-start text-center"></div>
                                            <div th:text="${#dates.format(settlementBackers.support_at, 'yyyy-MM-dd HH:mm')}" class="col-2 py-1 px-2 border-start text-center">후원 일시</div>
                                            <div th:text="|${#numbers.formatInteger(settlementBackers.total_amount, 0, 'COMMA')}원|" class="col-2 py-1 px-2 border-start text-end">총 후원금액</div>
                                            <div th:text="|-${#numbers.formatInteger(settlementBackers.fee_amount, 0, 'COMMA')}원|" class="col-2 py-1 px-2 border-start text-end">수수료</div>
                                            <div th:text="|${#numbers.formatInteger(settlementBackers.settlement_amount, 0, 'COMMA')}원|" class="col-2 py-1 px-2 border-start text-end">정산 예정 금액</div>
                                        </div>
                                        <!--/* 합계 */-->
                                        <div class="d-flex border-bottom">
                                            <div class="col-4 py-1 px-2 new-bg-gray fw-semibold text-center">총합</div>
                                            <div class="col-2 py-1 px-2 border-start"></div>
                                            <div th:text="|${#numbers.formatInteger(settlementDto.projectTotalAmount, 0, 'COMMA')}원|" class="col-2 py-1 px-2 border-start fw-semibold text-end">총 후원금액</div>
                                            <div th:text="|-${#numbers.formatInteger(settlementDto.settlementDetails.settlement_fee, 0, 'COMMA')}원|" class="col-2 py-1 px-2 border-start fw-semibold text-end">수수료</div>
                                            <div th:text="|${#numbers.formatInteger(settlementDto.settlementDetails.settlement_amount, 0, 'COMMA')}원|" class="col-2 py-1 px-2 border-start fw-semibold text-end">정산 예정 금액</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center new-mt-45 new-py-45 border-top border-light-subtle text-center">
                            <a href="/admin/funding/settlementList" class="d-block py-2 px-4 border border-dark fw-medium new-fs-95">
                                정산 목록
                            </a>
                        </div>
                    </div>

                    <!--/* 푸터 */-->
                    <div th:replace="~{common/adminNavi::bottomNavi}"></div>
                </div>
            </div>
        </div>
  
        <!--/* 명세서 모달 */-->
        <div class="modal fade" id="pledgeModal" tabindex="-1" aria-labelledby="pledgeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                <div class="modal-content rounded-0">
                    <div class="modal-header justify-content-center">
                        <h1 class="modal-title fs-5" id="pledgeModalLabel">모금액 명세서</h1>
                        <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top:20px; right:20px"></button>
                    </div>
                    <div class="modal-body px-4 new-py-45">
                        <div class="pledge-wrapper">
                            <div class="pledge-table border fs-6">
                                <div class="pledge-section">
                                    <div class="pledge-row border-bottom">
                                        <div class="pledge-col py-2 px-3 fw-semibold">프로젝트 정보</div>
                                    </div>
                                    <div class="pledge-row border-bottom d-flex align-items-center new-fs-95">
                                        <div class="col-6 pledge-col py-2 px-3 text-light-emphasis">프로젝트 제목</div>
                                        <div th:text="${projectData.project_title}" class="col-6 pledge-col py-2 px-3 border-start text-end"></div>
                                    </div>
                                    <div class="pledge-row border-bottom d-flex align-items-center new-fs-95">
                                        <div class="col-6 pledge-col py-2 px-3 text-light-emphasis">창작자 프로필 이름</div>
                                        <div th:text="${projectData.creator_name}" class="col-6 pledge-col py-2 px-3 border-start text-end"></div>
                                    </div>
                                </div>
                                <div class="pledge-section new-mt-45 border-top">
                                    <div class="pledge-row border-bottom">
                                        <div class="pledge-col py-2 px-3 fw-semibold">정산 정보</div>
                                    </div>
                                    <div class="pledge-row border-bottom d-flex align-items-center new-fs-95">
                                        <div class="col-6 pledge-col py-2 px-3 text-light-emphasis">창작자 정보</div>
                                        <div th:text="|${projectData.user_nickname} (${projectData.user_account})|" class="col-6 pledge-col py-2 px-3 border-start text-end">회원이름 (회원 아이디)</div>
                                    </div>
                                    <div class="pledge-row border-bottom d-flex align-items-center new-fs-95">
                                        <div class="col-6 pledge-col py-2 px-3 text-light-emphasis">입금계좌 정보</div>
                                        <div class="col-6 pledge-col py-2 px-3 border-start text-end">
                                            <p th:text="${creatorDto.account_holder}">계좌명</p>
                                            <p th:text="|${creatorDto.bank_name} ${creatorDto.account_number}|">은행명 / 계좌번호</p>
                                        </div>
                                    </div>
                                    <div class="pledge-row border-bottom d-flex align-items-center new-fs-95">
                                        <div class="col-6 pledge-col py-2 px-3 text-light-emphasis">정산일</div>
                                        <div th:text="${settlementDto.settlementDetails.settlement_date != null ? #dates.format(settlementDto.settlementDetails.settlement_date, 'yyyy-MM-dd HH:mm') : '정산 전'}" class="col-6 settlement-date pledge-col py-2 px-3 border-start text-end"></div>
                                    </div>
                                </div>
                                <div class="pledge-section new-mt-45 border-top">
                                    <div class="pledge-row border-bottom">
                                        <div class="pledge-col py-2 px-3 fw-semibold">모금액</div>
                                    </div>
                                    <div class="pledge-row border-bottom d-flex align-items-center new-fs-95">
                                        <div class="col-6 pledge-col py-2 px-3 text-light-emphasis">A. 총 모금액<span th:text="|(${backersCount}명)|"></span></div>
                                        <div th:text="|${#numbers.formatInteger(settlementDto.projectTotalAmount, 0, 'COMMA')}원|" class="col-6 pledge-col py-2 px-3 border-start fw-medium text-end"></div>
                                    </div>
                                    <div class="pledge-row border-bottom d-flex align-items-center new-fs-95">
                                        <div class="col-6 pledge-col py-2 px-3 text-light-emphasis">B. 수수료</div>
                                        <div th:text="|-${#numbers.formatInteger(settlementDto.settlementDetails.settlement_fee, 0, 'COMMA')}원|" class="col-6 pledge-col py-2 px-3 border-start fw-medium text-end"></div>
                                    </div>
                                </div>
                                <div class="pledge-section new-mt-45 border-top">
                                    <div class="pledge-row d-flex align-items-center new-bg-gray">
                                        <div class="col-6 pledge-col py-2 px-3 fw-semibold">정산금액 (A + B)</div>
                                        <div th:text="|${#numbers.formatInteger(settlementDto.settlementDetails.settlement_amount, 0, 'COMMA')}원|" class="col-6 pledge-col py-2 px-3 border-start fw-semibold text-end"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/funding/funding.js"></script>
    <script src="/public/js/funding/fundingAdmin.js"></script>
</body>
</html>