<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6th band</title>
    <link rel="stylesheet" href="/public/css/common.css">
</head>
<body>
    <div id="root">
        <div class="wrapper">
            <!-- /* 헤더 */ -->
            <div th:replace="~{common/navi::topNavi}"></div>
            <div th:replace="~{common/navi::allMenuNavi}"></div>

            <!-- /* 컨텐츠 */ -->
            <div class="main">
                <div class="row">
                    <div class="col">
                        
                    </div>
                </div>

            </div>

            <!-- /* 푸터 */ -->
            <div th:replace="~{common/navi::bottomNavi}"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>